* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #333;
}

body {
    font-family: system-ui, sans-serif;
    padding: 32px;
    background-color: hsl(0, 15%, 95%);
    min-height: 100vh;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 32px;
    z-index: 100;

    ul {
        list-style: none;
        display: flex;
        // width: 100%;
        // justify-content: stretch;

        li {
            position: relative;
            flex: 1;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            flex-flow: column;
            align-items: center;
            color: rgba(255,255,255,.5);

            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: #999;
                margin-bottom: 16px;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 50%;
                    background-color: #999;
                    top: 24px;
                    z-index: -1;
                }

                &::before {
                    left: 0;
                }
            }

            &:first-child {
                .icon {
                    &::before {
                        display: none;
                    }
                }
            }

            &:last-child {
                .icon {
                    &::after {
                        display: none;
                    }
                }
            }

            &.active {
                color: white;

                .icon {
                    background-color: white;
                }
            }
        }
    }
}

aside {
    position: fixed;
    top: 200px;

    .box {
        width: 368px;
    }
}

main {
    margin-top: 168px;
    margin-left: 400px;
}

.box {
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px hsl(0, 15%, 90%);
}

.model {
    position: relative;
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px hsl(0, 15%, 90%);

    h3 {
        padding: 4px 8px;
        margin: -8px;
        border-radius: 4px;
    }

    &:not(.add) {
        h3 {
            &:focus,
            &:hover {
                outline: none;
                background-color: hsl(0, 15%, 95%);
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &.add {
        opacity: .6;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    details {
        margin-top: -48px;
    }

    .actions {
        position: absolute;
        top: 8px;
        right: 12px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: absolute;
            cursor: pointer;
            opacity: .2;
            user-select: none;

            &:hover {
                opacity: 1;
            }
        }

        ul {
            position: absolute;
            list-style: none;
            display: none;
            top: 32px;
            background-color: white;
            border-radius: 4px;
            border: 1px solid hsl(0, 15%, 95%);
            
            li {
                padding: 8px 12px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: hsl(0, 15%, 95%);
                }
            }
        }

        &.visible {
            span {
                opacity: 1;
            }

            ul {
                display: block;
            }
        }
    }
}

.row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    > div {
        flex: 1;

        &.noflex {
            flex: 0 0 auto;
        }

        &:not(:last-child)  {
            margin-right: 32px;
        }
    }
}

label {
    display: inline-block;
    margin-bottom: 4px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

button,
input {
    display: block;
    width: 100%;
    border: none;
    background-color: hsl(0, 15%, 95%);
    padding: 12px;
    font: inherit;
    border-radius: 4px;

   

    &[type="number"] {
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}

button {
    &:focus {
        outline: none;
    }
}

input {
    &:focus {
        outline: none;
        background-color: hsl(0, 15%, 90%);
    }
}

.checkbox-wrap {
    display: inline-block;
    white-space: nowrap;

    input[type="checkbox"] {
        display: inline-block;
        position: relative;
        -webkit-appearance: none;
        border: none;
        background-color: hsl(0, 15%, 95%);
        width: 20px;
        height: 20px;
        vertical-align: -6px;
        margin-right: 4px;
        cursor: pointer;

        &:checked {
            background-color: #222222;
            color: white;

            &::after {
                content: "✓";
                // font-family: "Font Awesome 5 Free";
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & + label {
                color: #222222;
            }
        }
        
        &:focus {
            outline: none;
        }
    
        & + label {
            cursor: pointer;
        }
    }
}

.input-wrap {
    position: relative;
    background-color: hsl(0, 15%, 95%);

    &[data-after] {
        input {
            padding-right: 56px;
            text-align: right;
        }

        &::after {
            content: attr(data-after);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: hsl(0, 5%, 50%);
            font-size: 14px;
            border-left: 1px solid hsl(0, 5%, 85%);
            right: 0;
            z-index: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
        }
    }
}

.select-wrap {
    height: calc(100% - 20px);

    select {
        // -webkit-appearance: none;
        font: inherit;
        width: 100%;
        height: 100%;
        border: none;
        background-color: hsl(0, 15%, 95%);
        height: 42px;

        &:focus {
            outline: none;
        }

        &:invalid {
            color: hsl(0, 5%, 70%);
        }
    }
}

.input-number-wrap {
    display: flex;

    button {
        width: 42px;
        cursor: pointer;
        color: hsl(0, 0%, 50%);

        &:hover {
            color: black;
            background-color: hsl(0, 15%, 90%);
        }
        
        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    input {
        width: 56px;
        text-align: center;
        border-radius: 0;

        &:hover {
            background-color: hsl(0, 15%, 90%);
        }
        // background-color: transparent;
        // border-top: 2px solid hsl(0, 15%, 95%);
        // border-bottom: 2px solid hsl(0, 15%, 95%);
    }
}

details {
    summary {
        display: inline;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

.truck {
    // margin: 16px;
    padding: 16px;
    border: 2px solid hsl(0, 15%, 90%);
    border-radius: 4px;

    &:first-of-type {
        margin-top: 40px;
    }

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 800px) {
    .row {
        flex-flow: column;
    }
}