* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #222;
}

body {
    font-family: system-ui, sans-serif;
    padding: 32px;
    background-color: hsl(0, 15%, 95%);
    min-height: 100vh;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 32px;
    z-index: 100;

    .logo {
        position: absolute;
        // left: 64px;
        top: 48px;
        margin-left: 16px;
        width: 180px;
        height: 60px;
        background: transparent url(../img/logo.png) center center / cover no-repeat;
    }

    ul {
        list-style: none;
        display: flex;
        margin-left: 240px;
        // width: 100%;
        // justify-content: stretch;

        li {
            position: relative;
            flex: 1;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            flex-flow: column;
            align-items: center;
            color: rgba(255,255,255,.5);

            .icon {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #222;
                margin-bottom: 16px;
                border: 2px solid #666;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 50%;
                    background-color: #666;
                    top: 40px;
                    z-index: -1;
                }

                &::before {
                    left: 0;
                }
            }

            &:nth-child(1) {
                .icon {
                    background: #222 url(../img/vente.png) center center / 44px no-repeat;
                }
            }

            &:nth-child(2) {
                .icon {
                    background: #222 url(../img/production.png) center center / 44px no-repeat;
                }
            }

            &:nth-child(3) {
                .icon {
                    background: #222 url(../img/livraison.png) center center / 44px no-repeat;
                }
            }

            &:nth-child(4) {
                .icon {
                    background: #222 url(../img/pms.png) center center / 44px no-repeat;
                }
            }

            &:nth-child(5) {
                .icon {
                    background: #222 url(../img/suivi.png) center center / 44px no-repeat;
                }
            }

            &:first-child {
                .icon {
                    &::before {
                        display: none;
                    }
                }
            }

            &:last-child {
                .icon {
                    &::after {
                        display: none;
                    }
                }
            }

            &.active {
                color: white;
                
                .icon {
                    border-color: white;

                    &::before {
                        background-color: white;
                    }
                }

                &:not(.last) {
                    .icon {    
                        &::after {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}

aside {
    position: fixed;
    top: 200px;

    .box {
        width: 368px;

        input[type="text"],
        input[type="mail"] {
            &[disabled] {
                padding: 12px 0;
                color: black;
                background-color: transparent;
            }
        }
    }

    .progress {
        margin: 32px 0;
        
        label {
            position: relative;
            width: 100%;
            margin-bottom: 8px;

            span {
                position: absolute;
                right: 0;
            }
        }

        .progress-bar {
            height: 8px;
            background-color: hsl(0, 15%, 90%);
            border-radius: 4px;
            overflow: hidden;
            
            div {
                height: 100%;
                width: 0;
                // background-color: hsl(120, 100%, 40%);
                background-color: #c90017;
                border-radius: 0 4px 4px 0;
                transition: width .2s ease;
            }
        }
    }

    button {
        transition: opacity .2s ease;
        height: 56px;

        &[disabled] {
            background-color: hsl(0, 5%, 80%);
            cursor: default;
        }
    }
}

main {
    margin-top: 168px;
    margin-left: 400px;
}

.box {
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px hsl(0, 15%, 90%);
}

.model {
    position: relative;
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px hsl(0, 15%, 90%);

    h3 {
        padding: 4px 8px;
        margin: -8px;
        border-radius: 4px;
    }

    &:not(.add) {
        h3 {
            &:focus,
            &:hover {
                outline: none;
                background-color: hsl(0, 15%, 95%);
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &.add {
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    details {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        
        &:nth-of-type(2) {
            margin-top: -48px;
        }
    }

    .actions {
        position: absolute;
        top: 8px;
        right: 12px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            position: absolute;
            cursor: pointer;
            opacity: .2;
            user-select: none;

            &:hover {
                opacity: 1;
            }
        }

        ul {
            position: absolute;
            list-style: none;
            display: none;
            top: 32px;
            background-color: white;
            border-radius: 4px;
            border: 1px solid hsl(0, 15%, 95%);
            box-shadow: 0 8px 16px hsl(0, 15%, 90%);
            z-index: 10;
            
            li {
                padding: 12px 16px;
                font-size: 14px;
                cursor: pointer;
                color: #999;

                &:hover {
                    background-color: hsl(0, 15%, 95%);
                    color: black;
                }
            }
        }

        &.visible {
            span {
                opacity: 1;
            }

            ul {
                display: block;
            }
        }
    }
}

.row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    > div {
        flex: 1;

        &.noflex {
            flex: 0 0 auto;
        }

        &:not(:last-child)  {
            margin-right: 32px;
        }
    }
}

label {
    display: inline-block;
    margin-bottom: 4px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
}

button,
input {
    display: block;
    width: 100%;
    border: none;
    background-color: hsl(0, 15%, 95%);
    padding: 12px;
    font: inherit;
    border-radius: 4px;

   

    &[type="number"] {
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}

select,
input {
    &:not([disabled]):invalid {
        background-color: hsl(10, 70%, 95%);
    }
}

a {
    text-decoration: none;
}

button {
    &:focus {
        outline: none;
    }

    &.button-primary {
        background-color: black;
        color: white;
        cursor: pointer;

        span {
            display: inline-block;
            transition: transform .2s ease;
        }

        &:hover {
            span.right {
                transform: translateX(4px);
            }

            span.down {
                transform: translateY(4px);
            }
        }
    }
}

input {
    &:focus {
        outline: none;
        background-color: hsl(0, 15%, 90%);
    }
}

.checkbox-wrap {
    display: inline-block;
    white-space: nowrap;

    input[type="checkbox"] {
        display: inline-block;
        position: relative;
        -webkit-appearance: none;
        border: none;
        background-color: hsl(0, 15%, 95%);
        width: 20px;
        height: 20px;
        vertical-align: -6px;
        margin-right: 4px;
        cursor: pointer;

        &:checked {
            background-color: #242424;
            color: white;

            &::after {
                content: "✓";
                // font-family: "Font Awesome 5 Free";
                font-weight: bold;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & + label {
                color: #222222;
            }
        }
        
        &[disabled] {
            cursor: default;

            & + label {
                cursor: default;
            }
        }
        
        &:focus {
            outline: none;
        }
    
        & + label {
            cursor: pointer;
        }
    }
}

.input-wrap {
    position: relative;
    // background-color: hsl(0, 15%, 95%);

    &[data-after] {
        input {
            padding-right: 56px;
            text-align: right;
        }

        &::after {
            content: attr(data-after);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: hsl(0, 5%, 50%);
            font-size: 14px;
            border-left: 1px solid hsl(0, 5%, 85%);
            right: 0;
            z-index: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 42px;
        }
    }
}

.select-wrap {
    height: calc(100% - 20px);

    select {
        // -webkit-appearance: none;
        font: inherit;
        width: 100%;
        height: 100%;
        border: none;
        background-color: hsl(0, 15%, 95%);
        height: 42px;

        &:focus {
            outline: none;
        }

        &:invalid {
            color: hsl(10, 10%, 70%);
        }
    }
}

.input-number-wrap {
    display: flex;

    button {
        width: 42px;
        cursor: pointer;
        color: hsl(0, 0%, 50%);

        &:hover {
            color: black;
            background-color: hsl(0, 15%, 90%);
        }
        
        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    input {
        width: 56px;
        text-align: center;
        border-radius: 0;
        border-right: 1px solid hsl(0, 15%, 85%);
        border-left: 1px solid hsl(0, 15%, 85%);

        &:hover {
            background-color: hsl(0, 15%, 90%);
        }
        // background-color: transparent;
        // border-top: 2px solid hsl(0, 15%, 95%);
        // border-bottom: 2px solid hsl(0, 15%, 95%);
    }
}

details {
    summary {
        font-weight: bold;
        // margin-left: -16px;
        display: inline;
        cursor: pointer;
        
        &::-webkit-details-marker {
            opacity: .2;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            &::-webkit-details-marker {
                opacity: 1;
            }
        }
    }

    &[open] {
        summary {
            margin-bottom: 16px;

            &::-webkit-details-marker {
                opacity: 1;
            }
        }
    }
}

.truck {
    // margin: 16px;
    padding: 16px;
    border: 2px solid hsl(0, 15%, 90%);
    border-radius: 4px;

    &:first-of-type {
        margin-top: 16px;
    }

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    .row {
        &:first-of-type {
            margin-top: 16px;
        }

        a {
            &:first-child {
                margin-left: auto;
            }

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

@media screen and (max-width: 800px) {
    .row {
        flex-flow: column;
    }
}